$navbar-background-color: color('theme' 'primary');
$navbar-link-color: color('base' 'white');


.navbar {
    background-color: $navbar-background-color;

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    &-container {
        @extend %container-main;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-list {
        @extend %list-plain;
        display: flex;
    }

    &-item {
        padding: 1em 1.75em;
        transition: padding .1s ease;

        @include media('up' 'tablet') {
            padding: 1.75em;
        }
    }

    &-link {
        @extend %link;
        color: $navbar-link-color;
    }

    &-button {
        @extend %button;
        border: 0;
        color: $navbar-link-color;
        background-color: transparent;
    }


    &-logo {
        height: 50px;
        object-fit: cover;
        filter: brightness(200);
    }

    &-column {
        &--mobile { display: block }
        &--desktop { display: none }

        @include media('up' 'tablet') {
            &--desktop { display: block }
            &--mobile { display: none }
        }
    }
}

