$navbar-background-color: color('theme' 'primary');
$navbar-link-color: color('base' 'white');


.navbar {
    background-color: $navbar-background-color;

    &-container {
        @extend %container-main;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-list {
        @extend %list-plain;
        display: flex;
    }

    &-item {
        padding: 1em 2em;
    }

    &-link {
        @extend %link;
        color: $navbar-link-color;
    }

    &-button {
        @extend %button;
        border: 0;
        color: $navbar-link-color;
        background-color: transparent;
    }


    &-logo {
        height: 50px;
        object-fit: cover;
        filter: brightness(200);
    }

    &-column {
        &--mobile { display: block }
        &--desktop { display: none }

        @include media('up' 'tablet') {
            &--desktop { display: block }
            &--mobile { display: none }
        }
    }
}

