////////////////////////////////////////////////////////////////////////////////
////    Core
////////////////////////////////////////////////////////////////////////////////


@import './core';



.header {
    background-color: color('theme' 'primary');
    color: color('base' 'white');
    min-height: 100vmin;

    display: flex;
    align-items: center;
    justify-content: center;
}